@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@400;500;600;700&family=Poppins&family=Roboto+Slab:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.image-restaurant,
.image-loading {
  filter: brightness(0) invert(1);
}

.font-menu {
  font-family: "Great Vibes", cursive;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  gap: 16px;
}

.menu-items .link-home,
.menu-items .link-favorite {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  cursor: pointer;
}

.menu-items .link-home::after,
.menu-items .link-favorite::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.menu-items .link-home:hover,
.menu-items .link-favorite:hover {
  color: #dde6ed;
}

.menu-items .link-home:hover::after,
.menu-items .link-favorite:hover::after {
  transform: scaleX(1);
}

.footer {
  color: black;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

.footer .p {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 640px) {
  .menu-items {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0;
    transform: translateX(120%);
    width: 40%;
    height: 100px;
    z-index: 9999;
    background-color: #212a3e;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .open .menu-items {
    transform: translateX(0%);
  }
}
